body {
	background-color: #D3E9F2;
}

.bg-primer {
	background-color: #A2D2F4;
}

.bg-sekunder {
	background-color: #D3E9F2;
}

.bg-informasi-user {
	background-color: #8EA7B9;
}

.primer {
	color: #A2D2F4;
}


.sekunder {
	color: #D3E9F2;
}

.nav-link {
	color: #000;
	transition-duration: 0.3s;
}

.nav-link:hover {
	color: #777;
	transition-duration: 0.3s;
}

#LoginKarrir {
	padding-top: 50px;
}

.form-login {
	border-radius: 30px;
}

.form-login .form-control {
	border-radius: 10px;
	background-color: #D3E9F2;
	border: none;
}

.form-login .form-select {
	border-radius: 10px;
	background-color: #D3E9F2;
	border: none;
}

.btn-primer {
	background-color: #A2D2F4;
	border-radius: 20px;
}

.opacity {
	opacity: 70%;
}

#DaftarKarrir {
	padding-top: 50px;
}

.btn-search {
	border-radius: 20px;
}

.lowongan-logo {
	width: 80px;
}

.lowongan-text {
	font-size: 11px;
	margin-bottom: 5px;
}

#Login .form-check {
	font-size: 14px;
}

.foto-profile {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: contain;
}

.fileInput {
	display: none;
}

#icon {
	cursor: pointer;
	font-size: 30px;
}

.sidebar-link {
	text-decoration: none;
	color: rgb(68, 68, 68);
}

.sidebar-link:hover {
	color: #000;
}

.form-upload-label {
	padding: 20px;
	width: 300px;
	border-radius: 20px;
	background-color: #A2D2F4;
	transition-duration: 0.5s;
}

.form-upload-label:hover {
	background-color: #8EA7B9;
}


@media (min-width: 768px) {
	.row {
		position: relative;
	}

	.bottom-align-text {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

.foto-berita {
	width: 300px;
	height: 200px;
	object-fit: cover;
}

.box-status-pending {
	border-radius: 20px;
	box-shadow: inset 0 -25px 0 #6c757d;
}

.box-status-success {
	border-radius: 20px;
	box-shadow: inset 0 -25px 0 #198754;
}

.box-status-danger {
	border-radius: 20px;
	box-shadow: inset 0 -25px 0 #dc3545;
}




/* Progress Bar */
.progress {
	width: 100px;
	height: 100px;
	background: none;
	position: relative;
}

.progress::after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 6px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.progress>span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.progress .progress-left {
	left: 0;
}

.progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 6px;
	border-style: solid;
	position: absolute;
	top: 0;
}

.progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}

.progress .progress-right {
	right: 0;
}

.progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
}

.progress .progress-value {
	position: absolute;
	top: 0;
	left: 0;
}